@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.cyan {
  border-top: 3px solid var(--Cyan);
}

.red {
  border-top: 3px solid var(--Red);
}

.blue {
  border-top: 3px solid var(--Blue);
}

.orange {
  border-top: 3px solid var(--Orange);
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  padding: 4em 3em;
  background-color: var(--VeryLightGray);
}

.top-text {
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-bottom: 2em;
  h1 {
    font-size: 1.5em;
    color: var(--GrayishBlue);
    &:not(:first-child) {
      margin-bottom: 0.5em;
      color: var(--VeryDarkBlue);
    }
  }
  p {
    font-size: 0.9em;
    line-height: 1.8;
    color: var(--GrayishBlue);
  }
}

.grid-container {
  display: grid;
  gap: 1em;
}

.card {
  padding: 1.5em;
  border-radius: 5px;
  height: 225px;
  background-color: white;
  box-shadow: 1px 1px 30px -10px var(--GrayishBlue);
  line-height: 1.8;
  h1 {
    margin-bottom: 1em;
  }
  p {
    font-size: 0.8em;
    color: var(--GrayishBlue);
  }
  svg {
    float: right;
    margin-top: 3em;
    transform: scale(0.9);
  }
}

@media (min-width: 920px) {
  body {
    padding: 3em;
  }
  .top-text {
    width: 40%;
    h1 {
      font-size: 2em;
    }
  }
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    gap: 1em;
    margin: auto;
    width: 80%;
  }

  .card {
    width: 305px;
  }

  .cyan {
    grid-column: 1;
    grid-row: 1/3;
    align-self: center;
  }

  .blue {
    grid-column: 3;
    grid-row: 1/3;
    align-self: center;
  }
}
